* {
  box-sizing: border-box;
}

body {
  background: #ebebeb;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 1.5em;
  padding: 0.5em;
  border: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 1em;
}

.container {
  max-width: 90vw;
  margin: 0px auto;
}

.card {
  text-align: center;
  margin: 1rem;
  background: white;
  border: 1px solid black;
  border-radius: 1rem;
}

.loader {
  text-align: center;
}

.loader img {
  max-width: 200px;
  max-height: auto;
}
