* {
  box-sizing: border-box;
}

body {
  background: #ebebeb;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 1.5em;
  padding: 0.5em;
  border: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 1em;
}

.container {
  max-width: 90vw;
  margin: 0px auto;
}

.card {
  text-align: center;
  margin: 1rem;
  background: white;
  border: 1px solid black;
  border-radius: 1rem;
}

.loader {
  text-align: center;
}

.loader img {
  max-width: 200px;
  max-height: auto;
}

.form-container {
  max-width: 600px;
  margin: 0px auto;
}

form {
  padding: 1.5rem;
  background: white;
  border-radius: 0.5rem;
}

input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  font-size: 1em;
  border-radius: 0.2em;
}

label {
  display: block;
  margin-top: 10px;
}

button {
  float: right;
  background: white;
  border: 1px solid black;
  border-radius: 0.2rem;
  width: 150px;
  padding: 10px;
  margin: 10px;
  color: black;
  cursor: pointer;
}

.error-form {
  display: none;
  margin-top: 3px;
  color: orangered;
}
